NET switches(0) LOC = "P91"  | IOSTANDARD=LVCMOS33;
NET switches(1) LOC = "P92"  | IOSTANDARD=LVCMOS33;
NET switches(2) LOC = "P94"  | IOSTANDARD=LVCMOS33;
NET switches(3) LOC = "P95"  | IOSTANDARD=LVCMOS33;
NET switches(4) LOC = "P98"  | IOSTANDARD=LVCMOS33;
NET switches(5) LOC = "P2"  | IOSTANDARD=LVCMOS33;
NET switches(6) LOC = "P3"  | IOSTANDARD=LVCMOS33;
NET switches(7) LOC = "P4"  | IOSTANDARD=LVCMOS33;
NET LEDs(0)    LOC = "P5" | IOSTANDARD=LVCMOS33;
NET LEDs(1)    LOC = "P9" | IOSTANDARD=LVCMOS33;
NET LEDs(2)    LOC = "P10" | IOSTANDARD=LVCMOS33;
NET LEDs(3)    LOC = "P11" | IOSTANDARD=LVCMOS33;
NET LEDs(4)    LOC = "P12" | IOSTANDARD=LVCMOS33;
NET LEDs(5)    LOC = "P15" | IOSTANDARD=LVCMOS33;
NET LEDs(6)    LOC = "P16" | IOSTANDARD=LVCMOS33;
NET LEDs(7)    LOC = "P17" | IOSTANDARD=LVCMOS33;
NET seg(0)    LOC = "P57" | IOSTANDARD=LVCMOS33;
NET seg(1)    LOC = "P65" | IOSTANDARD=LVCMOS33;
NET seg(2)    LOC = "P40" | IOSTANDARD=LVCMOS33;
NET seg(3)    LOC = "P53" | IOSTANDARD=LVCMOS33;
NET seg(4)    LOC = "P33" | IOSTANDARD=LVCMOS33;
NET seg(5)    LOC = "P35" | IOSTANDARD=LVCMOS33;
NET seg(6)    LOC = "P62" | IOSTANDARD=LVCMOS33;
NET dig(0)    LOC = "P67" | IOSTANDARD=LVCMOS33;
NET dig(1)    LOC = "P60" | IOSTANDARD=LVCMOS33;
NET dig(2)    LOC = "P26" | IOSTANDARD=LVCMOS33;
NET dig(3)    LOC = "P18" | IOSTANDARD=LVCMOS33;
NET clck      LOC = "P89"  | IOSTANDARD=LVCMOS25; 
NET reset	  LOC = "P22" | IOSTANDARD=LVCMOS33;
