NET LEDs(0)    LOC = "P5" | IOSTANDARD=LVCMOS33;
NET LEDs(1)    LOC = "P9" | IOSTANDARD=LVCMOS33;
NET LEDs(2)    LOC = "P10" | IOSTANDARD=LVCMOS33;
NET LEDs(3)    LOC = "P11" | IOSTANDARD=LVCMOS33;
NET LEDs(4)    LOC = "P12" | IOSTANDARD=LVCMOS33;
NET LEDs(5)    LOC = "P15" | IOSTANDARD=LVCMOS33;
NET LEDs(6)    LOC = "P16" | IOSTANDARD=LVCMOS33;
NET LEDs(7)    LOC = "P17" | IOSTANDARD=LVCMOS33;
NET clk      LOC = "P89"  | IOSTANDARD=LVCMOS25;
